{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <div class="box" id="center_box">
        <p>
            {{description.description}}
            <a href="{% static 'numbers.txt' %}"> numbers.txt </a>
        </p>

        <br>

        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form }}
            <div id="btn_send">
                <input type="submit" value="Send" class="btn btn-default" />
            </div>
        </form>
    </div>
{% endblock %}