{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <div class="box" id="center_box">
        <p>{{description.description}}</p>
        <br>
        <div class="row">

            {% if error_msg %}
                <div class="col-lg-12">
                    <p class="bg-danger" style="padding: 10px; border-radius: 10px; padding-left: 20px;">{{error_msg}}</p>
                </div>
            {% endif %}

            {% if done %}
                <div class="col-lg-8">
                    <div class="panel panel-success">
                        <div class="panel-heading">Coins Determined</div>
                        <div class="panel-body">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th><b>Number</b></th>
                                        <th><b>Number of Coins</b></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for num in done %}
                                        <tr>
                                            <td>{{num.number}}</td>
                                            <td>{{num.num_coins}}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            {% endif %}

            {% if error %}
                <div class="col-lg-4">
                    <div class="panel panel-danger">
                        <div class="panel-heading">Out of range</div>
                        <div class="panel-body">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th><b>Number</b></th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for num in error %}
                                    <tr>
                                        <td>{{num}}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            {% endif %}

        </div> <!--/row-->
    </div> <!--/box-->
{% endblock %}